APP_NAME=smoke-collector
MASTER_KEY=QkNBNDBDQTA2N0JFOEE1NjdFQzU0QTdBQjI1OTVBNjU2QjdCQzZERgo=
JWT_SECRET=118a262f9b09f782eb294c95e284eb63212355e5b1da7808aa0a0f784344244cef0b5eada5917db0c74aa94ec8b54e50e77a6687da9072b2a1e1059b0c945d3e1531
# ----------------- MONGODB CONFIGURATION ----------------
# DEVELOP SERVER
NODE_ENV=dev
# PRODUCTION DB. 
# MONGODB_URI=mongodb+srv://atlas-smktest-collector-prod-user:fzp9k3VoLvQLUyeT@phd.dljiu.mongodb.net/smoke-collector-prod
# NODE_ENV=production
MONGODB_URI=mongodb://27.0.0.1:27017/smoke-collector
